.blog {
	padding: 84px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blog__intro {
	font-family: Kaushan Script;
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
}

.blog__title {
	font-family: Raleway;
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}

.blog__title::after{
	content: "";
    display: block;
    width: 170px;
    height: 3px;
    background-color: #F38281;
    margin: 44px auto 0;
	
}

.blog__posts {
	margin-top: 50px;
	display: flex;
	gap: 30px;
}

.blog__post {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.blog__post-title {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: #2D3033;
}

.blog__post-text {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	color: #2D3033;
}

.blog__post-feedback {
	display: flex;
	gap: 40px;
	align-items: center;
}

.blog__post-feedback p {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 13px;
	color: #2D3033;
}

.blog__post-image {
	position: relative;
}

.blog__post-date {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #95E1D3;
	top: 148px;
	left: -14px;
	text-align: center;
}

.blog__post-day {
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 30px;
	color: #FFFFFF;
	margin: 0;
	text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
	.blog__post-image {
		max-width: 317px;
	}
	.blog__posts {
		display: flex;
		flex-direction: row;
		gap: 20px;
		max-width: 317px;
	}

	.blog__post {
		
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
}

@media screen and (max-width: 320px) {
	.blog__intro {
		font-size: 24px;
	}

	.blog__title {
		font-size: 24px;
	}

	.blog__posts {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.blog__post {
		width: 288px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.blog__post-image {
		max-width: 288px;
	}

	.blog__post-title {
		font-size: 18px;
	}

	.blog__post-text {
		font-size: 14px;
	}

	.blog__post-feedback {
		display: flex;
		gap: 20px;
		align-items: center;
	}


	.blog__post-image {
		position: relative;
	}

	.blog__post-date {
		width: 67px;
		height: 67px;
		top: 148px;
		left: 5px;
	}

}